<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNetCore.Cryptography.Internal" version="9.0.9" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.DataProtection" version="9.0.9" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.DataProtection.Abstractions" version="9.0.9" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.9" targetFramework="net48" />
  <package id="Microsoft.Bcl.Cryptography" version="9.0.9" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="9.0.9" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="9.0.9" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.9" targetFramework="net48" />
  <package id="Microsoft.Extensions.Diagnostics.Abstractions" version="9.0.9" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="9.0.9" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="9.0.9" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.9" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="9.0.9" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.9" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.9" targetFramework="net48" />
  <package id="System.Formats.Asn1" version="9.0.9" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Xml" version="9.0.9" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>